body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.first {
    color: orange;
    text-shadow: 5px 5px 10px yellow;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.second {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.second img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 15px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack-developer {
    border-left: 5px solid red;
    box-shadow: 10px 10px 40px blue;
}

#baby-web-developer {
    border-left: 5px solid blue;
    box-shadow: 10px 10px 40px red;
}

footer p {
    text-align: center;
    font-weight: 700;
}